<div class="container-fluid">
    <div class="page-header">
        <h1>
            <span>Localização</span><br />
            <small>Lista de localização</small>
        </h1>
    </div>


    <div class="row">
        <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-6">
            <a [routerLink]="['/cadastrar/localizacao']" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Cadastrar Novo</a>
        </div>

        <div class="col-xs-2">
            <label class="label-control">Linhas por página</label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
            </select>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <label class="col-xs-12 label-control">Ordenar por:</label>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <select class="form-control input-sm" [(ngModel)]="sortBy">
                        <option ngValue="nome">Nome</option>
                        <option ngValue="endereco">Endereço</option>
                        <option ngValue="cidade">Cidade</option>
                        <option ngValue="estado">Estado</option>
                        <option ngValue="pais">Pais</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <select class="form-control input-sm" [(ngModel)]="sortOrder">
                        <option ngValue="asc">Crescente</option>
                        <option ngValue="desc">Decrescente</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="panel panel-default">
            <table class="table table-striped" [mfData]="data | localizacaoFiltro : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th colspan="5">
                            Filtrar:
                            <input class="form-control" [(ngModel)]="filterQuery" />
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                        </th>
                        <th style="width: 40%">
                            <mfDefaultSorter by="endereco">Endereço</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="cidade">Cidade</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="pais">País</mfDefaultSorter>
                        </th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let localizacao of mf.data">
                        <td>{{localizacao.nome}}</td>
                        <td>{{localizacao.endereco}}</td>
                        <td>{{localizacao.cidade}}</td>
                        <td>{{localizacao.estado}}</td>
                        <td>{{localizacao.pais}}</td>
                        <td>
                            <a [routerLink]="['/alterar/localizacao', localizacao.localizacaoId]" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            <button (click)="remover(localizacao)" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>