<div class="container-fluid">
    <div class="page-header">
        <h1>
            <span>Item</span><br />
            <small>Cadastro de item</small>
        </h1>
    </div>

    <div class="row">
        <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
        <form [formGroup]="meuForm" class="row" (submit)="manter($event)">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Título</label>
                    <input formControlName="titulo"
                           name="titulo"
                           [(ngModel)]="item.titulo"
                           class="form-control"
                           autocomplete="off">
                    <div *ngIf="meuForm.controls.titulo.invalid">
                        <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">Título obrigatório</span>
                        <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">Título deve ter no mín. 4 carecteres</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tipo do Item</label>
                    <select class="form-control input-sm" formControlName="tipoItem" name="tipoItem" [(ngModel)]="item.tipoItem">
                        <option [ngValue]="0" [attr.selected]="item.tipoItem == 'Livro' ? true : null">Livro</option>
                        <option [ngValue]="1" [attr.selected]="item.tipoItem == 'Cd' ? true : null">Cd</option>
                        <option [ngValue]="2" [attr.selected]="item.tipoItem == 'Dvd' ? true : null">Dvd</option>
                    </select>
                </div>

                <div *ngIf="item.itemId">
                    <div class="form-group">
                        <label>Emprestado</label>
                        <input readonly
                               value="{{item.isEmprestado ? 'Sim' : 'Não'}}"
                               class="form-control"
                               autocomplete="off">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">
                    Salvar
                </button>
                <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
                <hr>
            </div>
        </form>
    </div>

</div>